@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" );


html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
strong,
ul,
li,
form,
label,
article,
header,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
header,
section {
  display: block;
}

body {
  line-height: 1;
}


ul {
  list-style: none;
}

body {
  -webkit-text-size-adjust: none;
}


input,
textarea {
  appearance: none;
}

/* Basic */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
}

body,
input,
textarea {
  color: #a2a2a2;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.75em;
}

a {
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: #49bf9d;
  text-decoration: none;
}

a:hover {
  border-bottom-color: transparent;
  color: #49bf9d !important;
  text-decoration: none;
}

strong {
  color: #787878;
  font-weight: 400;
}

p {
  margin: 0 0 2em 0;
}

h1,
h2,
h3 {
  color: #787878;
  font-weight: 400;
  line-height: 1em;
  margin: 0 0 1em 0;
}

h1 a,
h2 a,
h3 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.5em;
}



.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
}

.row > * {
  box-sizing: border-box;
}

.row.gtr-uniform > * > :last-child {
  margin-bottom: 0;
}

.row > .col-4 {
  width: 33.33333%;
}

.row > .col-6 {
  width: 50%;
}

.row > .col-8 {
  width: 66.66667%;
}

.row > .col-12 {
  width: 100%;
}

.row.gtr-50 {
  margin-top: 0;
  margin-left: -1.25em;
}

.row.gtr-50 > * {
  padding: 0 0 0 1.25em;
}

.row.gtr-50.gtr-uniform {
  margin-top: -1.25em;
}

.row.gtr-50.gtr-uniform > * {
  padding-top: 1.25em;
}

.row {
  margin-top: 0;
  margin-left: -2.5em;
}

.row > * {
  padding: 0 0 0 2.5em;
}

.row.gtr-uniform {
  margin-top: -2.5em;
}

.row.gtr-uniform > * {
  padding-top: 2.5em;
}



@media screen and (max-width: 736px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }

  .row > * {
    box-sizing: border-box;
  }

  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }

  .row > .col-12-small {
    width: 100%;
  }

  .row.gtr-50 {
    margin-top: 0;
    margin-left: -0.75em;
  }

  .row.gtr-50 > * {
    padding: 0 0 0 0.75em;
  }

  .row.gtr-50.gtr-uniform {
    margin-top: -0.75em;
  }

  .row.gtr-50.gtr-uniform > * {
    padding-top: 0.75em;
  }

  .row {
    margin-top: 0;
    margin-left: -1.5em;
  }

  .row > * {
    padding: 0 0 0 1.5em;
  }

  .row.gtr-uniform {
    margin-top: -1.5em;
  }

  .row.gtr-uniform > * {
    padding-top: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
  }

  .row > * {
    box-sizing: border-box;
  }

  .row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
  }

  .row > .col-12-xsmall {
    width: 100%;
  }

  .row.gtr-50 {
    margin-top: 0;
    margin-left: -0.75em;
  }

  .row.gtr-50 > * {
    padding: 0 0 0 0.75em;
  }

  .row.gtr-50.gtr-uniform {
    margin-top: -0.75em;
  }

  .row.gtr-50.gtr-uniform > * {
    padding-top: 0.75em;
  }

  .row {
    margin-top: 0;
    margin-left: -1.5em;
  }

  .row > * {
    padding: 0 0 0 1.5em;
  }

  .row.gtr-uniform {
    margin-top: -1.5em;
  }

  .row.gtr-uniform > * {
    padding-top: 1.5em;
  }
}


header p {
  color: #b2b2b2;
  position: relative;
  margin: 0 0 1.5em 0;
}

header h2 + p {
  font-size: 1.25em;
  margin-top: -1em;
  line-height: 1.5em;
}

header h3 + p {
  font-size: 1.1em;
  margin-top: -0.8em;
  line-height: 1.5em;
}

header.major h2 {
  font-size: 2em;
}

/* Form */

form {
  margin: 0 0 2em 0;
}

label {
  color: #787878;
  display: block;
  font-size: 0.9em;
  font-weight: 400;
  margin: 0 0 1em 0;
}

input[type="text"],
input[type="email"],
textarea {
  appearance: none;
  background: #f7f7f7;
  border-radius: 0.35em;
  border: solid 2px transparent;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 0.75em;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:invalid,
input[type="email"]:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #49bf9d;
}

input[type="text"],
input[type="email"] {
  height: 2.75em;
}

textarea {
  padding: 0.75em;
}

/* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.icon > .label {
  display: none;
}

.icon:before {
  line-height: inherit;
}

.icon.solid:before {
  font-weight: 900;
}

/* Image */

.image {
  border-radius: 0.35em;
  border: 0;
  display: inline-block;
  position: relative;
}

.image:before {
  transition: opacity 0.2s ease-in-out;
  background: url("images/overlay.png");
  border-radius: 0.35em;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}

.image.thumb {
  text-align: center;
}

.image.thumb:after {
  transition: opacity 0.2s ease-in-out;
  border-radius: 0.35em;
  border: solid 3px #49bf00;
  color: #49bf00;
  content: "View";
  display: inline-block;
  font-size: 0.8em;
  font-weight: 400;
  left: 50%;
  line-height: 2.25em;
  margin: -1.25em 0 0 -3em;
  opacity: 0;
  padding: 0 1.5em;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 50%;
  white-space: nowrap;
}

.image.thumb:hover:after {
  opacity: 1;
}

.image.thumb:hover:before {
  background: url("images/overlay.png"), url("images/overlay.png");
  opacity: 1;
}

.image img {
  border-radius: 0.35em;
  display: block;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.avatar {
  border-radius: 100%;
}

.image.avatar:before {
  display: none;
}

.image.avatar img {
  border-radius: 100%;
  width: 100%;
}

/* List */

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 2px #efefef;
  padding: 0.5em 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

/* Icons */

/* Labeled Icons */

ul.labeled-icons {
  list-style: none;
  padding: 0;
}

ul.labeled-icons li {
  line-height: 1.75em;
  margin: 1.5em 0 0 0;
  padding-left: 2.25em;
  position: relative;
}

ul.labeled-icons li:first-child {
  margin-top: 0;
}

ul.labeled-icons li a {
  color: inherit;
}

ul.labeled-icons li h3 {
  color: #b2b2b2;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1em;
}

input[type="submit"] {
  appearance: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 0.35em;
  border: solid 3px #efefef;
  color: #787878 !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 3.15em;
  height: calc(2.75em + 6px);
  line-height: 2.75em;
  min-width: 10em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

input[type="submit"]:hover {
  border-color: #49bf9d;
  color: #49bf9d !important;
}

input[type="submit"]:active {
  background-color: rgba(73, 191, 157, 0.1);
  border-color: #49bf9d;
  color: #49bf9d !important;
}

input[type="submit"].icon {
  padding-left: 1.35em;
}

input[type="submit"].icon:before {
  margin-right: 0.5em;
}

input[type="submit"].fit {
  min-width: 0;
  width: 100%;
}


input[type="submit"]:disabled {
  background-color: #e7e7e7 !important;
  border-color: #e7e7e7 !important;
  color: #b2b2b2 !important;
  cursor: default;
}

/* Work Item */

.work-item {
  margin: 0 0 2em 0;
}

.work-item .image {
  margin: 0 0 1.5em 0;
}

.work-item h3 {
  font-size: 1em;
  margin: 0 0 0.5em 0;
}

.work-item p {
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0;
}

/* Header */

#header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #1f1815;
  background-attachment: scroll, scroll;
  background-image: surl("../images/bg.jpg");
  background-position: top left, top left;
  background-repeat: repeat, no-repeat;
  background-size: auto, 150%;
  color: rgba(255, 255, 255, 0.5);
  height: 100%;
  left: 0;
  padding: 8em 4em;
  position: fixed;
  text-align: right;
  top: 0;
  width: 35%;
}

#header > * {
  flex-shrink: 0;
  width: 100%;
}

#header > .inner {
  flex-grow: 1;
  margin: 0 0 2em 0;
}

#header strong {
  color: #ffffff;
}

#header h2,
#header h3 {
  color: #ffffff;
}

#header h1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.35em;
  line-height: 1.75em;
  margin: 0;
}

#header .image.avatar {
  margin: 0 0 1em 0;
  width: 6.25em;
}


#main {
  margin-left: 35%;
  max-width: 54em;
  padding: 8em 4em 4em 4em;
  width: calc(100% - 35%);
}

#main > section {
  border-top: solid 2px #efefef;
  margin: 4em 0 0 0;
  padding: 4em 0 0 0;
}

#main > section:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

@media screen and (max-width: 980px) {
  /* Basic */

  h1 br,
  h2 br,
  h3 br {
    display: none;
  }

  /* List */

  /* Header */

  #header {
    background-attachment: scroll;
    background-position: top left, center center;
    background-size: auto, cover;
    left: auto;
    padding: 6em 4em;
    position: relative;
    text-align: center;
    top: auto;
    width: 100%;
    display: block;
  }

  #header h1 {
    font-size: 1.75em;
  }

  #header h1 br {
    display: inline;
  }

  /* Footer */

  /* Main */

  #main {
    margin: 0;
    padding: 6em 4em;
    width: 100%;
  }
}

/* Small */

@media screen and (max-width: 768px) {
  /* Basic */

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }

  /* Section/Article */

  header.major h2 {
    font-size: 1.35em;
  }

  /* List */

  ul.labeled-icons li {
    padding-left: 2em;
  }

  ul.labeled-icons li h3 {
    line-height: 1.75em;
  }

  /* Header */

  #header {
    padding: 2.25em 1.5em;
  }

  #header h1 {
    font-size: 1.35em;
  }

  /* Footer */

  /* Main */

  #main {
    padding: 2.25em 1.5em 0.25em 1.5em;
  }

  #main > section {
    margin: 2.25em 0 0 0;
    padding: 2.25em 0 0 0;
  }

}

/* XSmall */

@media screen and (max-width: 365px) {
  /* Header */

  #header {
    padding: 4.5em 1.5em;
  }

  #header h1 br {
    display: none;
  }

  /* Footer */
}
